.page-success {
    display: none;
    position: relative;
    width: 728px;
    height: 444px;
    margin: auto;
    padding: 179px 164px;
    background-color: $light-grey;
    box-sizing: border-box;
}

.page__modal--show {
    display: block;
}

.page-success__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 42px;
    color: $dark-grey;
    text-align: center;
}

@media (max-width: $mobile-breakpoint) {
    .page-success {
        width: $mobile-width;
        padding: 100px 16px 185px;
    }
}