.page-success {
    display: none;
    position: relative;
    width: 728px;
    height: 444px;
    margin: auto;
    background-color: $light-grey;
}

.page-success__text {
    width: 399px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 25px;
    line-height: 42px;
    color: $dark-grey;
    text-align: center;
}

.page-success__close {
    position: absolute;
    width: 50px;
    height: 52px;
    border: none;
    top: 20px;
    right: 20px;
    background: transparent;
    cursor: pointer;
    &:active,
    &:focus {
        outline: none;
    }
}

.page-success__icon {
    fill: $light-grey;
}