$basic-white: #ffffff;
$basic-black: #000000;
$light-grey: #f8f8f8;
$basic-grey: #d7d9df;
$dark-grey: #48494d;
$dark-brown-grey: #2c2e3f;
$special-dark: #141517;
$special-coral: #fe7865;
$special-orange: #f17d4b; 

$body-font-family: "Montserrat", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

// $mobile-width-container: 540px;
// $tablet-width-container: 890px;
// $desktop-width-container: 1170px;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1024px;
